<h1>My Favorites</h1>
<ul>
  <% if (favorites.length) { %>
    <% favorites.forEach(vehicle => { %>
      <li>
        <h2><%= vehicle.inv_year %> <%= vehicle.inv_make %> <%= vehicle.inv_model %></h2>
        <p>Price: $<%= vehicle.inv_price %></p>
        <form action="/favorites/remove/<%= vehicle.inv_id %>" method="POST">
          <button type="submit">Remove from Favorites</button>
        </form>
      </li>
    <% }) %>
  <% } else { %>
    <p>No favorites added yet.</p>
  <% } %>
</ul>
