<%- include('../partials/detailHeader'); -%>
<main>
  <div class="vehicle-detail-header">
    <h1><%= title %></h1>
  </div>
  <div class="vehicle-detail">
    <div class="vehicle-image">
      <img src="<%= vehicle.inv_image %>" alt="<%= vehicle.inv_make %> <%= vehicle.inv_model %>">
    </div>
    <div class="vehicle-info">
      <h2>$<%= new Intl.NumberFormat('en-US').format(vehicle.inv_price) %></h2>
      <p>Mileage: <%= new Intl.NumberFormat('en-US').format(vehicle.inv_miles) %> miles</p>
      <p>Year: <%= vehicle.inv_year %></p>
      <p>Make: <%= vehicle.inv_make %></p>
      <p>Model: <%= vehicle.inv_model %></p>
      <p>Color: <%= vehicle.inv_color %></p>
      <p>Transmission: <%= vehicle.inv_transmission %></p>
      <p>Fuel Type: <%= vehicle.inv_fuel_type %></p>
    </div>
  </div>
</main>
<%- include('../partials/detailFooter'); -%>

<% if (loggedin) { %>
  <form action="/favorites/add/<%= vehicle.inv_id %>" method="POST">
    <button type="submit">Add to Favorites</button>
  </form>
<% } %>
